
        {{ if .IsTranslated }}
        <h4>{{ i18n "translations" }}</h4>
        <center>
            {{ range .Translations }}
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end}}
        </center>
        {{ end }}

		<footer>
			<span>
			&copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> {{ .Site.Params.Author }}
			</span>
		</footer>
  </body>
</html>
