<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{- if eq .RelPermalink "/" }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{- else if .Description }}
			<meta name="description" content="{{ .Description }}">
		{{- end }}

		<title>
			{{- if eq .RelPermalink "/" }}
				{{ .Site.Title }}
			{{- else }}
				{{ .Title }} &middot; {{ .Site.Title }}
			{{- end }}
		</title>

		<script type="text/javascript">
			if (window.location.href.indexOf("andersdamsgaard.dk") > -1) {
				url=window.location.href;
				url=url.replace("andersdamsgaard.dk","andersdamsgaard.com/da");
				window.location.replace(url);
			}
		</script>

		<!-- CSS -->
		{{- $inServerMode	:= .Site.IsServer }}
		{{- $cssTarget		:= "css/style.css" }}
		{{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}		
		{{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
		{{- $inServerMode	:= .Site.IsServer }}
		{{- $style			:= resources.Get "css/w3.css" }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/favicon-16x16.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL}}images/apple-touch-icon.png">

		<!-- RSS -->
		<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	</head>

