<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>
		<nav class="nav">
                {{- if eq .Lang "da" }}
			<div class="nav-container">
            <a href="{{ .Site.BaseURL }}{{ .Lang }}">
				<h2 class="nav-title">{{ .Site.Title }}</h2>
			</a>
			<ul>
                <li><a href="{{ .Site.BaseURL }}{{ .Lang }}/">Portefølje</a></li>
                <li><a href="{{ .Site.BaseURL }}{{ .Lang }}/prints">Køb billeder</a></li>
                <li><a href="{{ .Site.BaseURL }}{{ .Lang }}/about">Om</a></li>
                {{- else }}
			<div class="nav-container">
			<a href="{{ .Site.BaseURL }}">
				<h2 class="nav-title">{{ .Site.Title }}</h2>
			</a>
			<ul>
                <li><a href="{{ .Site.BaseURL }}">Portfolio</a></li>
                <li><a href="{{ .Site.BaseURL }}prints">Prints</a></li>
                <li><a href="{{ .Site.BaseURL }}about">About</a></li>
                {{- end }}
			</ul>
			</div>
		</nav>
