{{ define "main"}}
    <main id="main">
      <div>
      <center>
           <h1 id="title">Page not found</h1>
           <p><a href="{{ "/" | relURL }}">Click here to go to the website home</a></h1>
      </center>
      </div>
    </main>
{{ end }}
