{{ partial "header.html" . }}

<main>
    <center>
	<div class="catalogue">

		{{ range (.Paginate .Pages).Pages }}
			<a href="{{ .Permalink }}" class="catalogue-item">
				<div>
                        {{- .Render "summary" }}
				</div>
			</a>
		{{ end }}
	</div>

	<div class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{ end }}
        <a href="{{ .Site.BaseURL }}{{ .Lang }}" class="top">Hjem</a>
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		<span>{{ .Paginator.PageNumber }}</span>
		{{ end }}
	</div>
    </center>
</main>

{{ partial "footer.html" . }}
