{{- partial "header.html" . }}

<main>
    <div class="post">
        <div class="post-info">
            {{- if .Params.Author }}
                {{ .Params.Author }}
            {{/*- else */}}
                {{/* .Site.Params.Author */}}
            {{- end }}
        </div>

        <h1 class="post-title">{{ .Title }}</h1>
        <div class="post-line"></div>

        {{ .Content }}

        {{/* Loop over images, insert them with a width of 700 px, and name them incrementally */}}
        {{- if .Params.gallery }}
            {{ $scratch := newScratch }}
            {{ $scratch.Set "basename" .Title }}
            {{ with .Resources.ByType "image" }}
                {{ $scratch.Set "counter" 0 }}
                {{ range . }}

                {{ $scratch.Set "image" (.Fit "1000x1000") }}
                {{ $image := $scratch.Get "image" }}
                {{/* $image.Sharpen 0.5 */}}
                <figure style="padding: 0.0rem; margin: 2rem 0;
                    background-color: #ffffff">
                    <img src='{{ $image.RelPermalink }}'
                         title='{{ $scratch.Get "basename" }} {{ printf "%02d" ( $scratch.Get "counter" ) }}'
                         >
                         <!-- width="{{ $image.Width }}" height="{{ $image.Height }}"> -->
                    <!-- <figcaption> -->
                    <!--     <small> -->
                    <!--         <center> -->
                    <!--             {{ $scratch.Get "basename" }} {{ printf "%02d" ( $scratch.Get "counter" ) }} -->
                    <!--         </center> -->
                    <!--     </small> -->
                    <!-- </figcaption> -->
                </figure>
                <br>
                    {{ $scratch.Add "counter" 1 }}
                {{ end }}
            {{ end }}
        {{- end }}
    </div>

    <div class="pagination">
        {{- if .PrevPage }}
        <!-- <a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592; Previous</a> -->
        <a href="{{ .PrevPage.RelPermalink }}" class="right arrow">Næste serie &#8594;</a>
        {{- end }}
        {{- if .NextPage }}
        <!-- <a href="{{ .NextPage.RelPermalink }}" class="right arrow">Next &#8594;</a> -->
        <a href="{{ .NextPage.RelPermalink }}" class="left arrow">&#8592; Forrige serie</a>
        {{- end }}

        <a href="{{ .Site.BaseURL }}{{ .Lang }}" class="top">Hjem</a>

        <!-- <a href="#" class="top">Top</a> -->
    </div>
</main>

{{- partial "footer.html" . }}
