{{- if .Params.gallery }}
{{- else}}
<time datetime="{{ .PublishDate }}" class="catalogue-time">{{ .PublishDate.Format "January 2, 2006" }}</time>
{{- end}}

<h1 class="catalogue-title">{{ .Title }}</h1>
<div class="catalogue-line"></div>

{{- if .Params.gallery }}

    <!-- <a href="{{ .Permalink }}"> -->
    <!--     <img src="{{ .Permalink }}/{{ .Params.thumbnail }}" alt="{{ .Title }}" /> -->
    <!-- </a> -->

    <br>
    <!-- <div class="w3-row"> -->
        <!-- <div class="w3-col s12 m4 l4"> -->
            {{ $scratch := newScratch }}
            {{ $scratch.Set "pagetitle" .Title }}
            {{ with .Resources.ByType "image" }}
            {{ $scratch.Set "counter" 0 }}
            {{ range first 3 . }}
            {{/* $scratch.Set "image" (.Resize "200x") */}}
            {{ $scratch.Set "image" (.Fill "200x200") }}
            {{ $image := $scratch.Get "image" }}
            <img src="{{ $image.RelPermalink }}"
                 style="display: inline; padding: 1.0em;"
                 title='{{ $scratch.Get "pagetitle" }} {{ printf "%02d" ( $scratch.Get "counter" ) }}'
                 width="{{ $image.Width }}" height="{{ $image.Height }}">
            {{ $scratch.Add "counter" 1 }}
            {{ end }}
            {{ end }}
        <!-- </div> -->
        <!-- <div class="w3-col s12 m8 l8"> -->
        <!-- </p> -->
        <!-- </div> -->
    <!-- </div> -->
    <div>
    <a href='{{ .Permalink }}' style="color: #808080;"><nobr>Go to entire series →</nobr></a>
    <br>
    <br>
    </div>

{{- else }}
        <br>
        {{ .Summary }}
        <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
{{- end }}
