{{ partial "header.html" . }}

<main>
	<div class="post">

		<h1 class="post-title">{{ .Title }}</h1>
		<div class="post-line"></div>

		{{ .Content }}

	</div>

	<div class="pagination">
		{{ if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{ end }}

		<a href="#" class="top">Top</a>
	</div>
</main>

{{ partial "footer.html" . }}
